################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Routes
/bin/Debug/net6.0-windows
/obj
/.vs/ProjectEvaluation
/Routes.csproj.user
